/* public/document-management/styles/style.css */
@font-face {
    font-family: 'Code New Roman';
    src: url('../../fonts/Code New Roman.otf') format('truetype');
}

body {
    font-family: 'Code New Roman', sans-serif;
    margin: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

header h1 {
    flex: 0 0 auto;
    margin: 0;
    margin-bottom: 5px;
}

@media (max-width: 890px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header h1 {
        margin-bottom: 10px;
    }
}

h1 {
    color: #333;
    font-size: 24px;
}

form {
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.document-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
}

.document-filename {
    word-break: break-all;
}

.details-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.details-button:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

/* Общие стили для модального окна */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* Увеличение максимальной ширины */
    text-align: left; /* Выравнивание текста по левому краю */
    overflow: auto;
    max-height: 80vh;
}

#documentContent{
    text-align: justify;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

#pageTitle {
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

#pageTitle:hover {
    color: #007BFF;
    transform: scale(1.1);
}

.archive-button {
    background-color: #ffcc00;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.archive-button:hover {
    background-color: #e6b800;
}

.drop-zone {
    border: 2px dashed #ccc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    background-color: #f5f5f5;
}

.drop-zone.dragover {
    border-color: #007bff;
    background-color: #f1f1f1;
}

#errorBanner {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ff0000;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 16px;
    text-align: center;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.sign-button, .reject-button, .revoke-button, .review-button, .destroy-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-button:hover, .reject-button:hover, .revoke-button:hover, .review-button:hover, .destroy-button:hover {
  background-color: #0056b3;
}

/* Добавить стили для контейнеров кнопок */
.button-container {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

/* Изменить дизайн и анимацию кнопок */
button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

.sign-button {
    background-color: #28a745;
}

.sign-button:hover {
    background-color: #218838;
}

.reject-button {
    background-color: #dc3545;
}

.reject-button:hover {
    background-color: #c82333;
}

.revoke-button {
    background-color: #ffc107;
}

.revoke-button:hover {
    background-color: #e0a800;
}

.review-button {
    background-color: #17a2b8;
}

.review-button:hover {
    background-color: #138496;
}

.destroy-button {
    background-color: #6c757d;
}

.destroy-button:hover {
    background-color: #5a6268;
}

.approve-button {
    background-color: #007bff;
}

.approve-button:hover {
    background-color: #0056b3;
}

.details-button {
    background-color: #007bff;
}

.details-button:hover {
    background-color: #0056b3;
}

.archive-button {
    background-color: #ffcc00;
}

.archive-button:hover {
    background-color: #e6b800;
}

.document-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

.document-filename {
    word-break: break-all;
    margin-bottom: 10px;
}

#signatureModal .modal-content {
    text-align: left;
    max-width: 500px;
    margin: auto;
}

#signatureModal label {
    display: block;
    margin-top: 10px;
}

#signatureModal input[type="text"],
#signatureModal input[type="date"],
#signatureModal select {
    display: block;
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #000;
    width: 100%;
    box-sizing: border-box;
}

#signatureModal button[type="submit"],
#signatureModal button[type="button"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#signatureModal button[type="submit"]:hover,
#signatureModal button[type="button"]:hover {
    background-color: #0056b3;
}

/* Добавьте это в конец файла */
.signature-details {
    background-color: #f5f5f5; /* Цвет фона, похожий на лист бумаги */
    border: 2px solid #443ac6; /* Граница средней толщины */
    border-radius: 10px; /* Скругленные края */
    padding: 15px; /* Внутренние отступы */
    margin-bottom: 20px; /* Отступ снизу */
    color: #443ac6; /* Цвет текста */
}

.signature-type-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Отступ снизу */
}

.signature-logo {
    height: 50px; /* Высота логотипа */
    width: auto; /* Автоматическая ширина для сохранения пропорций */
    margin-right: 10px; /* Отступ справа */
}

.signature-details .signature-type {
    text-align: center; /* Выровнять текст "ДОКУМЕНТ ПОДПИСАН..." по центру */
    font-weight: bold; /* Сделать текст жирным */
}

.signature-details p {
    text-align: left; /* Выровнять остальной текст по левой стороне */
    margin: 5px 0; /* Отступы сверху и снизу */
}

/* Стили для контейнеров свойств и метаданных документа */
#documentProperties, #documentMetadata {
    background-color: #f9f9f9; /* Светлый фон для улучшения читаемости */
    border: 1px solid #ccc; /* Тонкая граница */
    border-radius: 5px; /* Скругленные углы */
    padding: 10px; /* Внутренние отступы */
    margin-bottom: 10px; /* Отступ снизу */
    list-style-type: none; /* Убираем маркеры списка */
}

#documentProperties li, #documentMetadata li {
    margin-bottom: 5px; /* Отступ между элементами списка */
}

/* Стили для основного контента документа */
#documentContent {
    background-color: #ffffff; /* Белый фон */
    border: 1px solid #ccc; /* Тонкая граница */
    border-radius: 5px; /* Скругленные углы */
    padding: 15px; /* Внутренние отступы */
    margin-top: 10px; /* Отступ сверху */
    text-align: justify; /* Выравнивание текста по ширине */
    max-height: 300px; /* Ограничение высоты */
    overflow-y: auto; /* Прокрутка по вертикали */
}


/* Стили для блока комментариев */
#commentsContainer {
    background-color: #f5f5f5; /* Цвет фона, похожий на лист бумаги */
    border: 2px solid #8B0000; /* Граница средней толщины тёмно-красного цвета */
    border-radius: 10px; /* Скругленные края */
    padding: 15px; /* Внутренние отступы */
    margin-bottom: 20px; /* Отступ снизу */
    color: #8B0000; /* Цвет текста тёмно-красного цвета */
}

#commentsContainer h3 {
    text-align: center; /* Выровнять заголовок по центру */
    font-weight: bold; /* Сделать текст жирным */
}

#commentsContainer ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
}

#commentsContainer li {
    margin-bottom: 5px; /* Отступ между элементами списка */
}

/* Стили для модального окна отклонения документа */
#rejectModal .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: left;
    overflow: auto;
    max-height: 80vh;
    border-radius: 10px; /* Скругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для объема */
}

#rejectModal label {
    display: block;
    margin-top: 10px;
    font-weight: bold; /* Жирный шрифт для меток */
}

#rejectModal input[type="text"],
#rejectModal textarea {
    display: block;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px; /* Скругленные углы */
    font-size: 16px; /* Увеличенный размер шрифта */
    max-width: 100%; /* Ограничение ширины */
    min-width: 100%; /* Ограничение ширины */
}

#rejectModal button[type="submit"]{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dc3545; /* Красный цвет для кнопок */
    color: white;
    border: none;
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Плавный переход для анимации */
}

#rejectModal button[type="submit"]:hover {
    background-color: #c82333; /* Темно-красный цвет при наведении */
    transform: scale(1.05); /* Увеличение при наведении */
}

#rejectModal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#rejectModal .close:hover,
#rejectModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
